/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
    padding: 0 15px;
}
.icon-block .material-icons {
    font-size: inherit;
}
body{
    background-image: url("background-photo.jpg");
    background-position: center;

}





.main-row{
    /*background: #F57C00;*/
    background-color: rgba(117, 117,117,0.65);

}


.card .card-image .card-title {
    color: white;
}




.valign-center {
    width: inherit;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

nav li{


}
h5{
    color:white;

}
.card .card-image .card-title {
    color: white;


}

.action{
    background-color: #FFEB3B;
    color: #3F51B5;
}
