.fixed {
    position: fixed;
}

.font-size-20 {
    font-size: 20px;
}

.ui-menu {
    margin: .5rem 0 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.ui-menu .ui-menu-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.authorize-row {
    position: absolute;
    min-height: 100%;
    height:100%;
    width: 100%;
    top: 0;
}

.authorize-col {
    min-height:100%;
    height: 100%;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #8BC34A;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}
footer.page-footer{
    background-color: #444;
}
li{
    color: #a3a3a3;
}

.dress-code-image {
    border-radius: 10px;
    width: 100%;
    max-height: 100%;
}

.fill {
    width: 100%;
    height: 400px;
}