body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.fixed {
    position: fixed;
}

.font-size-20 {
    font-size: 20px;
}

.ui-menu {
    margin: .5rem 0 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

.ui-menu .ui-menu-item {
    background-color: #fff;
    line-height: 1.5rem;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #e0e0e0;
}

.authorize-row {
    position: absolute;
    min-height: 100%;
    height:100%;
    width: 100%;
    top: 0;
}

.authorize-col {
    min-height:100%;
    height: 100%;
}
.dropdown-content li>a, .dropdown-content li>span{
    color: #8BC34A;
}

main {
    flex: 1 0 auto;
}
body footer.page-footer{
    background-color: #444;

}
li{
    color: #a3a3a3;
}

.dress-code-image {
    border-radius: 10px;
    width: 100%;
    max-height: 100%;
}

.fill {
    width: 100%;
    height: 400px;
}

.custom-container {
    background: rgba(255, 255,255,0.90);
    margin-top: 20px;
    padding:20px 25px 20px;
    border-radius: 3px;
}

.inline {
    dispay: inline;
}

.well {
    margin: 0 auto;
    width: 99%;
    border-radius: 2px;
    -webkit-box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.24);
    -moz-box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.24);
    box-shadow: inset 0px 0px 1px 2px rgba(0,0,0,0.24);
    padding: 8px 15px 8px;
    text-align: center;
    display: block;
}

.well:empty {
    display: none;
}

.pointer {
    cursor: pointer;
}
footer.page-footer{
    margin-top: 0;
}
.row.center{

    margin-bottom: 0;
}
