.tabs .tab a{
    color: #689F38  ;
}
.tabs .indicator{
    background-color: #FF9800  ;

}
.tabs .tab a:hover{
     color: #FF9800;
 }

.deletebut {
    cursor: pointer;
    background: none;
    border: none;

}
.deletebut:hover{
    background: none;
}
.deletebut:focus{
    background: none;
}
.invitation-button{
    cursor: pointer;
    background: #FF9800;

}
.invitation-button{
    background: #FF9800;
}
.invitation-button:focus{
    background: #FF9800;
}
.invitation-button:hover{
    background: #FF9800;
}