
.modal-trigger-desktop{
    left:0;
    position:fixed;
}
.tabs .tab a{
    color: #2196f3  ;
}
.tabs .indicator{
    background-color: #2196f3  ;

}
.tabs .tab a:hover{
    color: #2196f3;
}
.pagination li.active{
    background-color: #2196f3;
    color: white;
}