body {
    background: url("/images/girlscar.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.tabs .tab a{
    color: #a3a3a3  ;
}
.tabs .indicator{
    background-color: #2196f3  ;

}
.tabs .tab a:hover{
     color: #2196f3;
 }


.deletebut {
    cursor: pointer;
    background: none;
    border: none;

}
.deletebut:hover{
    background: none;
}
.deletebut:focus{
    background: none;
}
.invitation-button{
    cursor: pointer;
    background: #2196f3;

}
.invitation-button{
    background: #2196f3;
}
.invitation-button:focus{
    background: #2196f3;
}
.invitation-button:hover{
    background: #2196f3;
}