
.modal-trigger-desktop{
    left:0;
    position:fixed;
}
.tabs .tab a{
    color: #2196f3  ;
}
.tabs .indicator{
    background-color: #2196f3  ;

}
.tabs .tab a:hover{
    color: #2196f3;
}
.pagination li.active{
    background-color: #8BC34A;
    color: white;
}

.pagination li a {
    color: black;
}
body {
    /*background: url("/images/girlscar.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;*/
    background-color:rgb(246,243,224);
}
.container-for-events{
    background-color: rgba(255, 255,255,0.60);

}
.type-color{
    color: #8BC34A
}
footer.page-footer{
    margin-top: 0;
}