body {
    background: url("/images/girlscar.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.create-event-option {
    cursor: pointer;
}

.card-active {
    -webkit-box-shadow: 0px 0px 39px 15px rgba(33,150,243,1);
    -moz-box-shadow: 0px 0px 39px 15px rgba(33,150,243,1);
    box-shadow: 0px 0px 39px 15px rgba(33,150,243,1);
}

.card-active:hover {
    -webkit-box-shadow: 0px 0px 39px 15px rgba(33,150,243,1);
    -moz-box-shadow: 0px 0px 39px 15px rgba(33,150,243,1);
    box-shadow: 0px 0px 39px 15px rgba(33,150,243,1);
}

.slider-link-item {
    cursor: pointer;
}
.slider-button-create, .slider-button-create:focus{
    background-color:#2196f3 ;
}
.btn:hover, .btn-large:hover{
    background-color:#a3a3a3;
}
.collection a.collection-item {
    display: block;
    transition: .25s;
    color: #2196f3;
}
.collection .collection-item.active {
    background-color: #2196f3;
    color: #a3a3a3;
    border-color:#2196f3 ;

}

#showhide{
    position: fixed;
    top: 200px;
    left: -55px;
    /*width: 30px;
    height: 300px;*!*/
    background: #2196f3;
    color: #a3a3a3;
    transform: rotate(90deg);
    cursor: pointer;
}

.input-field .prefix.active{
    color: #2196f3;
}
/* label color */
.input-field label {
    color: #2196f3;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2196f3;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #2196f3;
}
/*.picker__box{
    background-color: #FFEB3B;
}*/
.picker__date-display, .picker__weekday-display{
    background-color: #a3a3a3;
}
.picker__nav--prev:hover, .picker__nav--next:hover{
    background:#a3a3a3 ;
}
.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
    background-color:#a3a3a3 ;
}
.picker__day.picker__day--today{
    color:#a3a3a3 ;
}
.picker__close, .picker__today{
    color:#a3a3a3 ;

}
.switch label input[type=checkbox]:checked+.lever{
    background-color:#2196f3 ;
}
.switch label input[type=checkbox]:checked+.lever:after{
    background-color:#2196f3 ;

}
.input-field{
    color: #2196f3;
}
.card .card-image .card-title{
    color: #a3a3a3;
    font-weight: bold;

}
h4{
    font: normal normal normal 60px/1.4em Enriqueta,serif;
    color: #2196f3;
}
[type="checkbox"]:checked+label:before{
    border-right: 2px solid #2196f3;
    border-bottom: 2px solid #2196f3;
}
.collection.with-header .collection-header{
    background-color: #a3a3a3;
}
.modal-trigger{
    background-color:#a3a3a3 ;
}
h3, h6{
    color:#2196f3 ;
}
textarea.materialize-textarea:focus:not([readonly]){
    border-bottom: 1px solid #2196f3;
    box-shadow:0 1px 0 0 #2196f3;
}
textarea.materialize-textarea:focus:not([readonly])+label{
    color:#2196f3;
}
.slider-button{
    background-color:#a3a3a3 ;
}
.slider-button-create{
    background-color:#2196f3 ;
}
.slidee{
    background-color: rgba(255, 255,255,0.60);
}

.card-inline {
    display: inline-block;
}
.card-inline .card-image img {
    all: initial;
}

input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
    border-bottom: 1px solid #2196f3;
}
/* label color */
.input-field label {
    color: #2196f3;
}
/* label focus color */
.input-field input[type=text]:focus + label {
    color: #2196f3;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #2196f3;
    box-shadow: 0 1px 0 0 #2196f3;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #2196f3;
}
.input-field input[type=text]:after{
    border-bottom: 1px solid #2196f3;
}



